<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:fragment="dynamic(main)">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="stylesheet" type="text/css" href="/css/templatemo-sixteen.css">
  <link rel="stylesheet" type="text/css" href="/css/owl.css">
  <link rel="stylesheet" type="text/css" href="/css/flex-slider.css">

</head>

<body ng-app="shopping-cart-app"
      ng-controller="shopping-cart-ctrl">
<header>
  <div class="row">
    <div class="col">
      <div th:replace="site/fragments/header.html"></div>
    </div>
  </div>

</header>
<div class="banner header-text">
  <div th:replace="site/fragments/nav:: nav" class="owl-banner owl-carousel"></div>
</div>
<secsion>
  <div class="latest-products">

    <div th:replace="${main}"></div>

  </div>

</secsion>
<footer class="row">
  <div class="col">
    <div th:replace="site/fragments/footer:: footer"></div>
  </div>
</footer>
<!-- Optional JavaScript -->
<!-- Bootstrap core JavaScript -->
<!-- <script  src="vendor/jquery/jquery.min.js"></script>
     <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->


<!-- Additional Scripts -->
<script src="/js/shopping-cart-app.js"></script>
<script type="text/javascript" th:src="@{//js/custom.js}"></script>
<script type="text/javascript" th:src="@{//js/owl.js}"></script>
<script type="text/javascript" th:src="@{//js/isotope.js}"></script>
<script type="text/javascript" th:src="@{js/accordions.js}"></script>


<script language="text/Javascript">
  cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
  function clearField(t) {                   //declaring the array outside of the
    if (!cleared[t.id]) {                      // function makes it static and global
      cleared[t.id] = 1;  // you could use true and false, but that's more typing
      t.value = '';         // with more chance of typos
      t.style.color = '#fff';
    }
  }
</script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>